$color: #000000;
$toolbar: #d4d0c8;
$highlight: #3a6fa5;
$tb-dark: darken($toolbar, 15%);
$darkgrey: $tb-dark;
$vdark: #46494C;
$mdark: #4C5C68;
$btn: lighten($toolbar, 10%);

$pad: 12px;

html {
    height: 100%;
}

body {
    user-select: none;
    font-family: 'Poppins';
    font-size: 14px;
    margin: 0;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
}

body.dialog {
    background-color: $toolbar;
    border: 1px solid $tb-dark;
    overflow: hidden;
}

.dlg-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $pad/2 $pad;

    h1 {
        margin: 0;
    }

    .close-dialog {
        font-size: 18px;
    }
}

.hl {
    background-color: $highlight;
    color: white;

    a {
        color: white !important;
    }
}

.app {

    display: flex;
    flex-direction: column;
    height: 100%;

    .toolbar {
        background-color: $toolbar;
        height: 30px;
        padding: $pad;
        display: flex;

        .bi {
            font-size: 16px;
        }

        button {
            border-radius: $pad / 2;
            border: 0;
            margin-right: $pad;
            background-color: $btn;
        }

        button:not(.disabled):hover {
            color: white;
            background-color: $highlight;
        }

        .tb-divider {
            border-left: 1px solid $tb-dark;
            padding-right: $pad;
        }

        select.tb-select {
            border: 1px solid $tb-dark;
            border-radius: $pad / 2;
        }

        .btn-group {
            display: flex;
            margin-right: $pad;

            button {
                border-radius: 0;
                margin-right: 0;
            }

            button+button {
                border-left: 1px solid $toolbar;
            }

            button:first-of-type {
                border-radius: $pad / 2 0 0 $pad/2;
            }

            button:last-of-type {
                border-radius: 0 $pad / 2 $pad/2 0;
            }
        }

    }

    .main-panel {
        width: 100%;
        display: flex;
        height: calc(100% - 60px - 30px);

        .tree {
            width: 300px;
            border: 1px solid $tb-dark;
            min-width: 300px;

            ul {
                padding: 0;
                margin: 0;
                padding-left: $pad / 2;
                list-style-type: none;

                li {
                    padding: $pad / 3;

                    a {
                        text-decoration: none;
                        color: #000000;
                    }

                    ul {
                        margin-left: $pad;
                    }
                }
            }

        }

        .main {
            border-bottom: 1px solid $tb-dark;
            max-width: calc(100% - 300px);
            flex-grow: 1;


        }
    }

    .status {
        background-color: $toolbar;
        height: 30px;
    }

}

.tbl {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid $tb-dark;

    tr {
        th {
            text-align: left;
            background-color: $toolbar;
            padding: $pad / 2;
        }

        td {
            padding: $pad / 2;
        }

        border-bottom: 1px solid $toolbar;
    }

    tbody {
        tr:hover {
            background-color: lighten($highlight, 30%);
        }
    }
}

.btn.disabled {
    color: $tb-dark;
    cursor: not-allowed;
}

.mb {
    margin-bottom: $pad / 2;
}

.row {
    display: flex;
    width: 100%;

    .col-2 {
        margin-right: $pad;
        width: 50%;
    }

    .col-3 {
        margin-right: $pad;
        width: 33%;
    }

    .col-4 {
        margin-right: $pad;
        width: 25%;
    }
}


.editor {
    padding: $pad;
    border-top: 1px solid $tb-dark;
    min-height: 100%;
    overflow: auto;

    .editor-field {
        display: flex;
        flex-direction: column;

        label {
            font-weight: bold;
        }

        input,
        select {
            font-size: 16px;
            padding: $pad / 2;
            border: 1px solid $tb-dark;
            border-radius: $pad / 3;
        }

        input:focus,
        select:focus {
            box-shadow: 0 0 $pad / 2 lighten($highlight, 20%);
        }

        input:focus-visible,
        select:focus-visible {
            outline: $highlight;
        }
    }
}


.tabs {
    width: 100%;

    .tab-row {
        display: flex;
        border-bottom: 1px solid $tb-dark;
        max-width: 100%;
        overflow-x: auto;
        overflow-y: hidden;

        .tab {
            white-space: nowrap;
            margin-top: 2px;
            padding: $pad / 2;
            background-color: lighten($highlight, 50%);
            border-right: 1px solid $tb-dark;
            color: black;
            text-decoration: none;
            border-top-right-radius: $pad;
            .close-tab {
                color: black;
            }
        }

        .tab.active {
            margin-bottom: -2px;
            border-bottom: 2px solid $toolbar;
            background-color: $toolbar;
        }
    }
}