$color: #000000;
$toolbar: #d4d0c8;
$highlight: #3a6fa5;
$tb-dark: darken($toolbar, 15%);
$darkgrey: $tb-dark;
$vdark: #46494C;
$mdark: #4C5C68;
$btn: lighten($toolbar, 10%);

$danger: #a14b4b;
$success: #50b450;

$pad: 12px;

html {
    height: 100%;
}


body {
    user-select: none;
    font-family: 'Poppins';
    font-size: 14px;
    margin: 0;
    height: 100%;
    max-width: 100%;
    overflow: hidden;
}

body.dialog {
    background-color: white;
    border: 1px solid $tb-dark;
    overflow: hidden;
}

.btn {
    border-radius: $pad / 2;
    border: 1px solid $tb-dark;
    padding: $pad;
    margin-right: $pad;
    text-align: center;
    background-color: $btn;
    transition: background-color 250ms, color 250ms;
}

.btn:not(.disabled):hover {
    color: white;
    background-color: $tb-dark;
}

$btn-styles: "danger"$danger,
    "success"$success;

@each $style,
$col in $btn-styles {
    .btn-#{$style} {
        background-color: #{$col};
        color: white;
    }

    $dark: darken($col, 20%);

    .btn-#{$style}:not(.disabled):hover {
        background-color: $dark;
    }
}

.dlg-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $pad/2 $pad;

    h1 {
        margin: 0;
    }

    .close-dialog {
        font-size: 18px;
    }
}

.dlg-button-row {
    padding: $pad;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 1px;
    left: 1px;
    right: 1px;
    background-color: lighten($toolbar, 15%);
}

.hl {
    background-color: $highlight;
    color: white;

    a {
        color: white !important;
    }
}

.app {

    display: flex;
    flex-direction: column;
    height: 100%;

    .toolbar {
        background-color: $toolbar;
        height: 30px;
        padding: $pad;
        display: flex;

        .bi {
            font-size: 16px;
        }

        button {
            border-radius: $pad / 2;
            border: 0;
            padding: 0 6px;
            margin-right: $pad;
            background-color: $btn;
        }

        button:not(.disabled):hover {
            color: white;
            background-color: $highlight;
        }

        .tb-divider {
            border-left: 1px solid $tb-dark;
            padding-right: $pad;
        }

        select.tb-select {
            border: 1px solid $tb-dark;
            border-radius: $pad / 2;
        }

        .btn-group {
            display: flex;
            margin-right: $pad;

            button {
                border-radius: 0;
                margin-right: 0;
            }

            button+button {
                border-left: 1px solid $toolbar;
            }

            button:first-of-type {
                border-radius: $pad / 2 0 0 $pad/2;
            }

            button:last-of-type {
                border-radius: 0 $pad / 2 $pad/2 0;
            }
        }

    }

    .main-panel {
        width: 100%;
        display: flex;
        height: calc(100% - 60px - 30px);

        .tree {
            width: 300px;
            border: 1px solid $tb-dark;
            min-width: 300px;

            ul {
                padding: 0;
                margin: 0;
                padding-left: $pad / 2;
                list-style-type: none;

                li {
                    padding: $pad / 3;

                    a {
                        text-decoration: none;
                        color: #000000;
                    }

                    ul {
                        margin-left: $pad;
                    }
                }
            }

        }

        .main {
            border-bottom: 1px solid $tb-dark;
            max-width: calc(100% - 300px);
            flex-grow: 1;


        }
    }

    .status {
        background-color: $toolbar;
        height: 30px;
    }

}

.tbl {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid $tb-dark;

    tr {
        th {
            text-align: left;
            background-color: $toolbar;
            padding: $pad / 2;
        }

        td {
            padding: $pad / 2;
        }

        border-bottom: 1px solid $toolbar;
    }

    tbody {
        tr:hover {
            background-color: lighten($highlight, 30%);
        }
    }
}

.btn.disabled {
    color: $tb-dark;
    cursor: not-allowed;
}

.mb {
    margin-bottom: $pad / 2;
}

.row {
    display: flex;
    width: 100%;

    .col-2 {
        margin-right: $pad;
        width: 50%;
    }

    .col-3 {
        margin-right: $pad;
        width: 33%;
    }

    .col-4 {
        margin-right: $pad;
        width: 25%;
    }
}


.editor {
    padding: $pad;
    border-top: 1px solid $tb-dark;
    min-height: 100%;
    overflow: auto;
    position: relative;
    box-sizing: border-box;

    .editor-field {
        display: flex;
        flex-direction: column;

        label {
            font-weight: bold;
        }

        input,
        select {
            font-size: 16px;
            padding: $pad / 2;
            border: 1px solid $tb-dark;
            border-radius: $pad / 3;
        }

        input:focus,
        select:focus {
            box-shadow: 0 0 $pad / 2 lighten($highlight, 20%);
        }

        input:focus-visible,
        select:focus-visible {
            outline: $highlight;
        }
    }

    .editor-buttons {
        padding: $pad;
        background-color: lighten($toolbar, 15%);
        position: absolute;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $tb-dark;
        bottom: 0;
        left: 0;
        right: 0;
    }

}


.tabs {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .tab-row {
        display: flex;
        border-bottom: 1px solid $tb-dark;
        max-width: 100%;
        overflow-x: auto;
        overflow-y: hidden;

        .tab {
            white-space: nowrap;
            margin-top: 2px;
            padding: $pad / 2;
            background-color: lighten($highlight, 50%);
            border-right: 1px solid $tb-dark;
            color: black;
            text-decoration: none;
            border-top-right-radius: $pad;

            .close-tab {
                color: black;
            }
        }

        .tab.active {
            margin-bottom: -2px;
            border-bottom: 2px solid $toolbar;
            background-color: $toolbar;
        }
    }

    .tab-content {
        box-sizing: border-box;
        height: 100%;
    }

}

#content {
    padding: $pad * 1.5;
}

.form-field {
    margin-right: $pad;
    margin-bottom: $pad;

    label {
        width: 100%;
    }

    .form-control {
        width: 100%;
    }

    input.form-control,
    select.form-control,
    textarea.form-control {
        font-size: 16px;
        padding: $pad / 2;
        border: 1px solid $tb-dark;
        border-radius: $pad / 3;
    }

    input.form-control:focus,
    select.form-control:focus,
    textarea.form-control:focus {
        box-shadow: 0 0 $pad / 2 lighten($highlight, 20%);
    }

    input.form-control:focus-visible,
    select.form-control:focus-visible,
    textarea.form-control:focus-visible {
        outline: $highlight;
    }
}

.form-field-oneline {
    display: flex;
    margin-bottom: $pad;
    justify-content: space-between;
    align-items: baseline;

    label {
        width: 40%;
        margin-right: $pad;
        font-weight: bold;
        text-align: right;
    }

    >* {
        width: 100%;
        flex-grow: 1;
        text-align: left;
    }

    .form-field-text {
        margin: 0;
    }

    .form-field-list {
        overflow: auto;
        border: 1px solid $tb-dark;
        list-style-type: none;
        margin: 0;
        padding: 0;
        max-height: 45vh;

        li {
            margin: 0;
            padding: $pad;
            display: flex;
        }

        li:not(:last-of-type) {
            border-bottom: 1px solid $tb-dark;
        }
    }
}
 
table.table {
    width: 100%;
    border-collapse: collapse;

    th {
        text-align: left;
    }
}

@for $i from 1 through 5 {

    .p-#{$i} {
        padding: $pad * $i;
    }

    .ps-#{$i} {
        padding-left: $pad * $i;
    }

    .pe-#{$i} {
        padding-right: $pad * $i;
    }

    .pt-#{$i} {
        padding-top: $pad * $i;
    }

    .pb-#{$i} {
        padding-bottom: $pad * $i;
    }

    .ms-#{$i} {
        margin-bottom: $pad * $i;
    }

    .mt-#{$i} {
        margin-top: $pad * $i;
    }

    .mb-#{$i} {
        margin-bottom: $pad * $i;
    }

    .me-#{$i} {
        margin-right: $pad * $i;
    }

    .flex-grow-#{$i},
    .fg-#{$i} {
        flex-grow: $i;
    }
}