@use "sass:math";
@import "../fonts/remixicon.css";

$bg: #ebeff5;
$toolbar: #aebcc7;
$highlight: #f5d272;
$tb-dark: darken($toolbar, 15%);
$tb-control: #cbd5df;
$darkgrey: $tb-dark;
$vdark: #46494C;
$mdark: #4C5C68;
$btn: $tb-control;
$tb-control-col: #d6d6e6;
$text: #262629;
$tb-control-disabled: #a0a6ac;

$danger: #a14b4b;
$success: #50b450;

$pad: 12px;
$halfpad: 6px;
$quartpad: 3px;
$dblpad: 24px;

html {
    background-color: $bg;
    background: linear-gradient($bg, darken($bg, 5%));
    height: 100%;
}


body {
    user-select: none;
    font-family: 'Poppins';
    font-size: 14px;
    margin: 0;
    padding: 0;
    height: 100%;
    color: $text;
    max-width: 100%;
    overflow: hidden;
}

.logo-bar {
    background-color: $toolbar;
    border-top: 1px solid $tb-dark;
    border-bottom: 1px solid $tb-dark;
    text-align: center;
    padding: $pad * 2
}

#login-form {
    width: 50%;
    margin: $pad * 2 auto;
}

body.dialog {
    border: 1px solid $tb-dark;
    overflow: hidden;
}

.btn {
    border-radius: math.div($pad, 2);
    border: 1px solid $tb-dark;
    padding: $pad;
    margin-right: $pad;
    text-align: center;
    background: linear-gradient($btn, darken($btn, 7%));
    background-color: $btn;
    transition: background-color 250ms, color 250ms;
}

.btn-flex {
    display: flex;
    width: 100%;
    padding: $pad;
    color: black;
    text-decoration: none;
    align-items: center;
    > * {
        margin-right: $pad;
    }
    label {
        cursor:pointer;
    }
}

.btn:not(.disabled):hover {
    color: $tb-control-col;
    background-color: $tb-dark;
    background: linear-gradient($tb-dark, darken($tb-dark, 7%));
}

.btn-sm {
    margin-right: $pad* 0.25;
    padding: $pad *0.25;
}

$btn-styles: "danger"$danger,
    "success"$success;

@each $style,
$col in $btn-styles {
    .btn-#{$style} {
        background-color: $col;
        background: linear-gradient($col, darken($col, 7%));
        color: white;
    }

    $dark: darken($col, 20%);

    .btn-#{$style}:not(.disabled):hover {
        background-color: $dark;
        background: linear-gradient($dark, darken($dark, 7%));
    }
}

.dlg-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: math.div($pad, 2) $pad;

    h1 {
        margin: 0;
    }

    .close-dialog {
        font-size: 18px;
    }
}

.dlg-button-row {
    padding: $pad;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    left: 1px;
    right: 1px;
    background-color: $toolbar;
    border-bottom: 1px solid $tb-dark;
    background: linear-gradient($toolbar, darken($toolbar, 7%));
}

.hl {
    background-color: $highlight;
    background: linear-gradient($highlight, darken($highlight, 7%));
    color: $text;

    a {
        color: $text !important;
    }
}

.app {

    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;

    .toolbar {
        background-color: $toolbar;
        background: linear-gradient($toolbar, darken($toolbar, 7%));
        min-height: 55px - ($pad * 2);
        padding: $pad;
        display: flex;
        flex: 0;

        .bi {
            font-size: 16px;
        }

        button {
            border-radius: math.div($pad, 2);
            border: 0;
            padding: 0 6px;
            margin-right: $pad;
            color: $text;
            background-color: $btn;
            background: linear-gradient($btn, darken($btn, 7%));
            transition: background-color 250ms, color 250ms, background 250ms;
        }

        button:not(:disabled):hover {
            color: $text;
            background-color: $highlight;
            background: linear-gradient($highlight, darken($highlight, 7%));
        }

        .tb-divider {
            border-left: 1px solid $tb-dark;
            padding-right: $pad;
        }

        select.tb-select {
            border: 1px solid $tb-dark;
            border-radius: math.div($pad, 2);
        }

        .btn-group {
            display: flex;
            margin-right: $pad;

            button {
                border-radius: 0;
                margin-right: 0;
            }

            button+button {
                border-left: 1px solid $toolbar;
            }

            button:first-of-type {
                border-radius: math.div($pad, 2) 0 0 math.div($pad, 2);
            }

            button:last-of-type {
                border-radius: 0 math.div($pad, 2) math.div($pad, 2) 0;
            }
        }

    }

    .main-panel {
        width: 100%;
        display: flex;
        height: calc(100% - 60px - 30px);
        flex-grow: 1;

        .tree-container {
            width: 300px;
            border: 1px solid $tb-dark;
            min-width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .tree {
                overflow: auto;

                ul {
                    padding: 0;
                    margin: 0;
                    padding-left: math.div($pad, 2);
                    list-style-type: none;

                    li {
                        padding: math.div($pad, 3);

                        a {
                            text-decoration: none;
                            color: #000000;
                        }

                        ul {
                            margin-left: $pad;
                        }
                    }
                }

            }

            .roots {
                border-top: 1px solid $tb-dark;
                min-height: 40px;

                .root {
                    background-color: $toolbar;
                    background: linear-gradient($toolbar, darken($toolbar, 7%));
                    text-decoration: none;
                    color: black;
                    display: flex;
                    position: relative;

                }

                .root:hover {
                    background-color: lighten($toolbar, 20%);
                    background: linear-gradient(lighten($toolbar, 20%), darken($toolbar, 13%));
                }

                #backgroundTaskStatus {
                    display: flex;
                    flex-direction: column;

                    .bg-task {
                        padding: $pad;
                        display: flex;
                        .icon {
                            margin-right: $pad;
                        }

                        .bg-task-info {
                            flex-grow: 1;
                            display: flex;
                            flex-direction: column;

                            .progress {
                                width: 100%;
                                height: $pad;
                                border: 1px solid $tb-dark;
                                border-radius: $pad;

                                .progress-bar {
                                    border-radius: $pad;
                                    min-width: 0;
                                    height: $pad;
                                    background-color: $highlight;
                                    background: linear-gradient($highlight, darken($highlight, 7%));
                                }
                            }
                        }

                        border-bottom: 1px solid $tb-dark;
                    }

                }

            }

        }

        .main {
            border-bottom: 1px solid $tb-dark;
            max-width: calc(100% - 300px);
            flex-grow: 1;


        }
    }

    .status {
        background-color: $toolbar;
        min-height: 50px - $pad;
        max-height: 50px - $pad;
        display: flex;
        align-items: center;

        .sb-panel {
            padding: $pad $pad; //math.div($pad, 3); 
            border-right: 1px solid $tb-dark;
            margin-right: $pad;
            display: flex;

            .sb-panel-item {
                margin-right: $pad;
            }
        }

        .sb-panel:last-of-type {
            border-right: unset;
        }
    }

}

.tbl {
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid $tb-dark;

    tr {
        th {
            text-align: left;
            background-color: $toolbar;
            background: linear-gradient($toolbar, darken($toolbar, 7%));
            padding: math.div($pad, 2);
        }

        td {
            padding: math.div($pad, 2);
        }

        border-bottom: 1px solid $toolbar;
    }

    tbody {
        tr:hover {
            background-color: lighten($highlight, 30%);
        }
    }
}

.btn:disabled {
    background-color: $tb-control-disabled !important;
    background: linear-gradient($tb-control-disabled, darken($tb-control-disabled, 7%)) !important;
    color: lighten($tb-control-disabled, 20%) !important;
    cursor: not-allowed;
}

.mb {
    margin-bottom: math.div($pad, 2);
}

.row {
    display: flex;
    width: 100%;

    .col-2 {
        margin-right: $pad;
        width: 50%;
    }

    .col-3 {
        margin-right: $pad;
        width: 33%;
    }

    .col-4 {
        margin-right: $pad;
        width: 25%;
    }
}


.editor {
    padding: $pad;
    border-top: 1px solid $tb-dark;
    min-height: 100%;
    overflow: auto;
    position: relative;
    box-sizing: border-box;

    .editor-field {
        display: flex;
        flex-direction: column;

        label {
            font-weight: bold;
        }

        input,
        select {
            font-size: 16px;
            padding: math.div($pad, 2);
            border: 1px solid $tb-dark;
            border-radius: math.div($pad, 3);
        }

        input:focus,
        select:focus {
            box-shadow: 0 0 math.div($pad, 2) lighten($highlight, 20%);
        }

        input:focus-visible,
        select:focus-visible {
            outline: $highlight;
        }
    }

    .editor-buttons {
        padding: $pad;
        background-color: lighten($toolbar, 15%);
        position: absolute;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $tb-dark;
        bottom: 0;
        left: 0;
        right: 0;
    }

}

.tabs,
.dialog-tabs {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .dialog-tabs-row {
        margin-left: -$pad * 1.5;
        margin-right: -$pad * 1.5;
        padding-left: $pad * 1.5;
        padding-right: $pad * 1.5;
        margin-bottom: $pad;
    }

    .tab-row,
    .dialog-tabs-row {
        display: flex;
        border-bottom: 1px solid $tb-dark;
        max-width: 100%;
        overflow-x: auto;
        overflow-y: hidden;

        .tab {
            white-space: nowrap;
            margin-top: 2px;
            padding: math.div($pad, 2);
            background-color: lighten($highlight, 50%);
            background: linear-gradient(lighten($highlight, 50%), lighten($highlight, 43%));
            border-right: 1px solid $tb-dark;
            color: black;
            text-decoration: none;
            border-top-right-radius: $pad;

            .close-tab {
                color: black;
                text-decoration: none;
            }

            .close-tab:hover {
                color: $danger;
            }

        }

        .dialog-tab {
            text-decoration: none;
            white-space: nowrap;
            margin-top: 2px;
            padding: $pad * 0.5;
            padding-right: $pad;
            margin-right: $pad * 0.5;
            border-right: 1px solid $tb-dark;
            color: $tb-dark;
            display: flex;
            flex-direction: column;
            align-items: center;

            .icon {
                font-size: 30px;
            }
        }

        .dialog-tab:last-of-type {
            border-right: 0;
        }

        .dialog-tab.active {
            color: black;
            font-weight: bold;
        }

        .tab.active {
            margin-bottom: -2px;
            border-bottom: 2px solid $toolbar;
            background-color: $toolbar;
            background: linear-gradient($toolbar, darken($toolbar, 7%));
        }
    }

    .tab-content,
    .dialog-tab-content {
        box-sizing: border-box;
        height: 100%;
        max-height: 100%;
        overflow: auto;

        .tbl {
            border-top: 0;
            border-bottom: 1px solid $tb-dark;

            thead {
                position: sticky;
                top: 0;
            }
        }
    }

}

.popup {
    box-sizing: border-box;
    display: none;
    border: 1px solid $tb-dark;
    background-color: white;
    border-radius: 0 0 $pad $pad;
    transition: border-radius 300ms;
}

.popup.show {
    display: block;
}

.filter-popup {
    max-height: 60vh;
    overflow: auto;

    .filter-group {
        position: relative;
        
        .filter-group-header {
            padding: $pad * 0.5;
            font-weight: bold;
            background-color: lighten($toolbar, 10%);
            display: flex;
            justify-content: space-between;
            position: sticky;
            top: 0;

            filter-group-header-title {}

            .options {
            }
        }

        .filter-group-items {
            .filter-group-item {
                padding: $pad * 0.5;
                display: flex;
                color: black;
                text-decoration: none;

                .icon {
                    min-width: 16px;
                    margin-right: $pad * 0.5;
                }

                .label {
                    margin-right: $pad * 0.5;
                }
            }

            .filter-group-item:hover {
                background-color: $highlight;
            }
        }
    }
}

.data-query {
    display: flex;
    flex-direction: column;

    .query {
        background-color: white;
        border-bottom: 1px solid $tb-dark;
        display: flex;
        padding: $pad;
        flex-direction: row;

        .filter {
            box-sizing: border-box;
            border: 1px solid $tb-dark;
            padding: $pad * 0.5;
            border-radius: $pad * 0.5;
            display: flex;
            margin-right: $pad;
            margin-bottom: $pad;
            background: linear-gradient(white, darken(white, 7%));
            transition: border-radius 300ms;

            .label {
                font-weight: bold;
                margin-right: $pad * 0.5;
                border-right: 1px solid $tb-dark;
                padding-right: $pad * 0.5;
            }

            .value {
                margin-right: $pad * 0.5;
                border-right: 1px solid $tb-dark;
                padding-right: $pad * 0.5;
            }

        }

        .filter.open {
            border-radius: $pad $pad 0 0;
            border-bottom: 0;
            background-color: $highlight;
            background: linear-gradient($highlight, darken($highlight, 7%));
        }

        .filter:hover {
            background-color: $btn;
            background: linear-gradient($btn, darken($btn, 7%));
        }

    }

    .data-tbl {
        flex-grow: 1;
    }
}

#content {
    padding: $pad * 1.5;
}

.dialog-tabs {
    margin-top: -($pad * 1.5);
}


.progress {
    border: 1px solid $tb-dark;
    border-radius: math.div($pad, 3);

    .progress-bar {
        background-color: $success;
        background: linear-gradient($success, darken($success, 7%));
        white-space: nowrap;

        .progress-label {
            overflow: hidden;
        }
    }
}

.form-field {
    margin-right: $pad;
    margin-bottom: $pad;

    label {
        width: 100%;
    }

    .form-control {
        width: 100%;
    }

    input.form-control,
    select.form-control,
    textarea.form-control {
        font-size: 16px;
        padding: math.div($pad, 2);
        border: 1px solid $tb-dark;
        border-radius: math.div($pad, 3);
    }

    input.form-control:focus,
    select.form-control:focus,
    textarea.form-control:focus {
        box-shadow: 0 0 math.div($pad, 2) lighten($highlight, 20%);
    }

    input.form-control:focus-visible,
    select.form-control:focus-visible,
    textarea.form-control:focus-visible {
        outline: $highlight;
    }
}

.form-field-oneline {
    display: flex;
    margin-bottom: $pad;
    justify-content: space-between;
    align-items: baseline;

    label {
        width: 40%;
        margin-right: $pad;
        font-weight: bold;
        text-align: right;
    }

    >* {
        width: 100%;
        flex-grow: 1;
        text-align: left;
    }

    .form-field-text {
        margin: 0;
    }

    .form-field-list {
        overflow: auto;
        border: 1px solid $tb-dark;
        list-style-type: none;
        margin: 0;
        padding: 0;
        max-height: 40vh;

        li {
            margin: 0;
            padding: $pad;
            display: flex;
        }

        li:not(:last-of-type) {
            border-bottom: 1px solid $tb-dark;
        }
    }
}

table.table {
    width: 100%;
    border-collapse: collapse;

    th {
        text-align: left;
    }
}

$i: 0.05;

@while $i <=1 {

    .w-#{$i * 100}pc {
        width: percentage($i);
    }

    $i: $i + 0.05;
}

@for $i from 1 through 5 {

    .p-#{$i} {
        padding: $pad * $i;
    }

    .ps-#{$i} {
        padding-left: $pad * $i;
    }

    .pe-#{$i} {
        padding-right: $pad * $i;
    }

    .pt-#{$i} {
        padding-top: $pad * $i;
    }

    .pb-#{$i} {
        padding-bottom: $pad * $i;
    }

    .ms-#{$i} {
        margin-bottom: $pad * $i;
    }

    .mt-#{$i} {
        margin-top: $pad * $i;
    }

    .mb-#{$i} {
        margin-bottom: $pad * $i;
    }

    .me-#{$i} {
        margin-right: $pad * $i;
    }

    .flex-grow-#{$i},
    .fg-#{$i} {
        flex-grow: $i;
    }
}